<div ng-controller="ChatController as chatCtrl">
    <strong>Chào <span id="usernickname">{{chatCtrl.name}}</span> ngày tốt lành!</strong><br><br>
    <strong>Tên : <input type="text" ng-model="chatCtrl.name" placeholder="Enter name here"
            style="color: black"></strong><br><br>
</div>

<div style="width: 100%; height: calc(100vh - 110px);">
    <div>
        <div></span>&nbsp;&nbsp;&nbsp;Online Chat</div>
    </div>
    <div
        style="height: calc(100% - 98px) !important; overflow-y: visible; overflow-x: hidden; width: 100%;font-size: 13px; text-align: left; color: black;"
        id="chat-box">
    </div>
    <div ng-if="liveID">

        <input type="text" id="chat-input" placeholder="Enter your message..."
            style="width: 80%; height: 40px; color: black;">
        <button type="button" >&nbsp;send</span>
        </button>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#chat-input').on('keypress', function (e) {
            if (e.keyCode == 13) {
                websocket.send($('#usernickname').text() + '| ' + $('#chat-input').val());
                $('#chat-input').val('');
            }
        });
    });

    var wsUri = "wss://vchat-rabbit.herokuapp.com/";

    function init() {
        output = document.getElementById("chat-box");
        testWebSocket();
    }
    var arrayChat = [];
    function testWebSocket() {
        websocket = new WebSocket(wsUri);
        websocket.onopen = function (evt) {
        };
        websocket.onclose = function (evt) {
            setTimeout(testWebSocket(), 1000);
        };
        websocket.onmessage = function (evt) {
            if (evt.data !== "{}") {
                var str = evt.data.split("|");
                username = '<strong>' + str[0] + ': </strong>';
                message = evt.data.split("|")[1];
                writeToScreen(username + message);
            }
        };
        websocket.onerror = function (evt) {
            setTimeout(testWebSocket(), 5000);
        };
    }

    function writeToScreen(message) {
        arrayChat.push(message);
        if (arrayChat.length > 30) {
            arrayChat.shift();
        }
        output.innerHTML = '';
        for (let i of arrayChat) {
            var pre = document.createElement("p");
            pre.style.wordWrap = "break-word";
            pre.innerHTML = i;
            output.appendChild(pre);
        }
        output.scrollTop = output.scrollHeight;
    };
    int();
</script>